

#form_ajout_mess {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.258);
}

#home_top {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home_body {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

#card_post {
    box-shadow: 1px 5px 8px black
}

#card_com {
    box-shadow: 1px 5px 8px black
}

#col_com {
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.147);
}

#col_com #com_publi {
    text-shadow: 1px 2px 2px black;
}